table {
  width: 100%;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 45px;
}
.px-qty-btn {
  background: #145cd3;
  min-width: 38px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  display: block;
  margin: 0 auto;
}
